<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shitty_Server_Stopper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Shitty_Server_Stopper.Properties.Settings>
            <setting name="MiscBlocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="L4DBlocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HRBlocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YABlocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrBocked" serializeAs="String">
                <value />
            </setting>
            <setting name="InstallLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstStartUpDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomIPS" serializeAs="String">
                <value />
            </setting>
            <setting name="NumCIPS" serializeAs="String">
                <value>0</value>
            </setting>
        </Shitty_Server_Stopper.Properties.Settings>
    </userSettings>
</configuration>